/*Custom content*/
#main-body-content{background-color: #f1f1f1;}
/*#titlerow{border-left: 2px solid black;}*/
.header{background: #000000 url(../images/headerbg_long.png) repeat-x; height: 100px; min-height: 100px;}
.MTheaderLogo{position: absolute; top: 0px; left: 100px; background: url(../images/logo_full.png) 0 0 no-repeat; width: 320px; height: 100px;}
.content-panel{background-color: #f1f1f1; padding-left: 5px; padding-right:5px;}
#titlerow{background: #f1f1f1;}
.pagetitle{color: #ff8936; font-size: 1.8em;}
.banner{min-height: 100px; background: white;}
.navbar-toggle{position: relative; top: 0px; margin-left: 0px !important; background: #f8f8f8; border: 2px solid black !important; border-left: none !important; border-radius: 0 15px 15px 0px; }
.no-left-padding{padding-left: 0px;}
.no-right-padding{padding-right: 0px;}
.tab-body-content{background: white !important; border: 1px solid #f1f1f1 !important;}
.tickettable{border-left: 1px solid #aaaaaa; border-right: 1px solid #aaaaaa; border-bottom: 1px solid #aaaaaa; border-collapse: collapse; width: 100%;}
.tix-info{border: 1px solid #aaaaaa;}
.tickettable td{border: thin solid #dbdbdb;}
.tickettitle{font-size: 1.1em;}
.ticketlabel{background: #E5E4E2; }
.tickettable td{border: 1px solid #dbdbdb;}
.border-all{border: 1px solid #f1f1f1;}
.border-vertical{border-left: 1px solid #f1f1f1; border-right: 1px solid #f1f1f1;}
.padding-vertical{padding-top: 10px; padding-bottom: 10px;}
.border-horizontal{border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1;}
.padding-horizontal{padding-left: 10px; padding-right: 10px;}
#companyName{font-size: 1.4em;}
.fullwidth{width: 100%;}
.pagefooter{background:#232323;margin-top:2px;color:#f1f1f1;margin-bottom:1px;padding-bottom: 10px;}
.footerh2{text-transform: uppercase;font-size: 1.2em;color:#f1f1f1;}
.portalfooter{min-height: 37px;	background: #333 ;font-size: 1.2em;}
.portalfooter a{color: #A39D97; text-decoration: none;}
.portalfooter a:hover{color: #5599A7;}
.portalfooter ul{list-style-type: none; padding-bottom: 5px;}
.portalfooter li{float: right; padding-left: 18px;}
.portalfooter li a{text-transform: uppercase;}
.portalfooter li a:hover{color: #5699A7;}
.designedby{color: #f1f1f1;background: url(../images/logo.gif) 10px 12px no-repeat;float: left;text-align: left; min-height: 37px;padding:5px 0px 5px 50px;margin-top: 5px;	display: block;}
.designedby p{font-size:12px;}
.footerlinks{display:block;float: right;padding-top:10px;text-align: right;}
.footerlinks ul li, usefullinks > ul > li{list-style-type: none !important;}
.usefullinks a{color: #f1f1f1;text-decoration: none;}
/*
.contactus{}
.followus{}
*/
.contacts a{color: #ff3c00;}
ul.social{list-style:none;margin:10px 0 0;padding:0;display:inline-block;}
ul.social>li{display:inline-block;margin:0 5px;}
ul.social>li>a{font-size:24px;color:#ff3c00;}
ul.social>li>a:hover{color:#999;}
.subtext{font-size: 12px;font-style: italic; margin-bottom: 5px;}
#autorefresh{margin-bottom: 10px;}
#ticketNoteTable{width: 100%;}
#ticketsearch{padding:10px 0px;}
#companysearch{font-size: 1.2em;}
#ticketnotesearch{font-size: 1.2em; text-align: right;}

/*media specific css for small screens*/
@media (max-width:1199px){
    .footerlinks{text-align: center;}
    .designedby{text-align: center; padding-bottom: 20px; background: none;}
    .followus, .contactus, .usefullinks{text-align: center; padding-bottom: 20px;}
    #companysearch{padding: 10px 0px;text-align: center}
    #ticketnotesearch{padding: 10px 0px;text-align: center;}
    #ticketsearch{text-align: center;}
}
/*Bootstrap overrides*/
.ui-widget-header{background: #f1f1f1; border: none;}
.ui-widget-content{background: #f1f1f1; border: none !important;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{background: white; border: 1px solid black;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color: black;}
.tab-heading{font-size: 1.5em; color: #ff8936 !important;}
.ui-tabs-panel{border: 1px solid black !important; background: white;}
.ui-tabs-nav{padding: 0px !important;}